* {
  margin: 0;
  padding: 0;
}
body {
  color: #302e2e;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.hehe {
  background: #10d8e6;
  margin: 10px;
  padding: 20px;
  border-radius: 40px;
}
.title {
  text-align: center;
  font-size: 40px;
}
.status {
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 10px;
  text-align: center;
  color: #260758;
}
.status span {
  color: #20c51b;
}
.grid {
  background: #45139633;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
}

.eachgrid {
  background: #10d8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 175px;
  width: 175px;
}

.x,
.o {
  cursor: auto;
}

.x::after {
  content: "×";
  font-size: 200px;
  color: #260758;
}

.o::after {
  content: "○";
  color: #20c51b;
  font-size: 225px;
  margin-bottom: 30px;
}

.won::after {
  color: #BD022F;
}
